<h1>
<img id="img" class="top" src="/ui.png"> 
<span id="id" class="top"><^><%= @id %></span>
<span id="name" class="top"><%= @name %></span><br>
<span id="odm">last: <%= @odm %></span>
</h1>
<div id="msgs"></div>
